.tabs-style-3 .nav-tabs>li>a:before { background: #05b2e9; }
.primary-nav>li.menu-item-has-children .caret { display: none; }
.mlp-language-box ul li { display: block; }
.mlp-language-box img { width: 7%; }